!!!
html
  head
    title= 'Springboard: Express-Jade-Stylus Quick Start'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      #page
        #header
          h1 Springboard
          p Express-Jade-Stylus Quick Start
        #nav
          ul
            li
              a(href='/') Home
            li
              a(href='/login') Example Form
            li
              a(href='/table') Example Tables
        #content
          // http://www.devthought.com/code/use-jade-blocks-not-layouts/
          block content  