form
  margin 0
  padding 0

form fieldset
  background-color #fafafa

form fieldset 
  border 1px solid #6f8992
  border-top 23px solid #5599bb
  margin-bottom 10px
  padding-top 20px
  padding-bottom 20px
  position relative

form fieldset legend
  position absolute
  top -19px
  left 10px
  font-size 12px
  color #fff
  font-weight bold

form fieldset ul li
  width 100%
  display block
  margin 10px

form fieldset ul li label
  float left
  width 200px
  margin-top 5px
  font-size 1.2em
  color green

form fieldset ul li input
  font-family Arial, Sans-Serif
  font-size 13px
  margin-bottom 5px
  padding 4px
  border: solid 1px #a35129
  width: 200px

input[type="checkbox"]
  width 10px
  margin-top 5px

form fieldset div
  display block

form fieldset div input[type="submit"]
  margin-left 210px

input[type="text"], input[type="password"]
  font-family Arial, Sans-Serif
  font-size 13px
  margin-bottom 5px
  padding 4px
  border solid 1px #a35129
  width 200px

input[type="submit"]
  border 1px solid #ccffff
  background #6699cc
  padding 2px 8px
  font-weight bold
  color #fff
  margin .5em .5em

input[type="submit"].form
  border 1px solid #dddddd
  background #eeeeee
  color #666666
  padding 3px 7px
  font-size 13px