table.data-list
  background-color #eeeeee
  margin-top 1em
  border 1px solid #5b9ebf
  width 100%

table.data-list caption 
  padding 0 .25em .25em .75em
  letter-spacing .2em
  text-align left
  text-transform uppercase
  font 13px/15px Arial, Helvetica, sans-serif
  font-weight bold
  color #342821

table.data-list th
  background #224466
  color #fff
  padding .5em .7em
  font-weight bold
  font-size 1.1em

table.data-list tbody td, table.data-list tbody th
  padding .4em

table.data-list tfoot td 
  background-color #569abc
  color #fff
  padding .3em
  font-weight bold
  font-size 1.1em

table.data-list tr.row1
  background-color #9cafb9

table.data-list tr.row2 
  background-color #bbd6e4

table.data-list td 
  padding 0 10px
  font-size 1.2em
  color #333333