extends ../layout

block content

  .page
    h2 Log In
    p
      a.button(href='/register') Create New Account
    form(method='post', action='/login')
      fieldset
        legend User Information
        ul
          li
            label Email:
            input(name='user[email]', value=user.email || '')
          li
            label Password:
            input(name='user[password]', value=user.password || '', type='password')
          li
            label(for='remember_me') Remember me:
            input(type='checkbox', name='remember_me')
        div
          input(type='submit', value='Log In')