.page
  h2 Register
  p
    a.button(href='/login') Have An Account? Login Here
  form(method='post', action='/register')
    fieldset
      - if (typeof currentUser !== 'undefined')
        legend User Information
      else
        legend Create New Account
      ul
        !=partial('fields', { locals: { user: user } })
      div
        input(type='submit', value='Register')